<?xml version="1.0" encoding="UTF-8"?>
<!-- <configuration debug="true"> -->
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d - %-5level: %class %method :%message %n</Pattern>
    </layout>
  </appender>
  <appender name="LOG" class="ch.qos.logback.core.FileAppender">
    <file>.\Results\test_tool_framework.log</file>
    <append>true</append>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
     <Pattern>%d - %-5level: %class %method :%message %n</Pattern>
    </encoder>
  </appender>

<!-- <root level="trace"> -->
<!-- <root level="debug"> -->
<!-- <root level="info"> -->
<!-- <root level="error"> -->
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOG"/>
  </root>
  
</configuration>